.whychoosesec {
    padding-top: 40px;
}

.pointgreen {
    width: 7px;
    height: 7px;
    background-color:#21a179;
    border-radius: 50px;
}

.choosepoint {
    padding:20px;
    border-radius: 20px;
    background-color:#e5f7f2;
}

.choosec h5 {
    font-size: 18px;
    font-weight: 400;
}

/* .choosec p {
    font-weight: 500;
    font-size: 16px;
} */