.treatmentsec {
       padding-top: 40px;
}


.treatcard h4 {
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    margin: 25px 0px;
}



.treatimg{
    background-color: #e5f7f2;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.treatimg img{
    margin-top: 25px;
}

.treat {
    border: 1px solid #21a179;
    border-radius: 20px;
    padding: 30px;
    background-color: #ffff;
}